@charset "UTF-8";

.carousel-item.active .rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */

.carousel-item.active .rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.carousel-item.active .rating:not(:checked) > label {
  float: right;
  width: 1em;
  /* padding:0 .1em; */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 300%;
  /* line-height:1.2; */
  color: #ddd;
}

.carousel-item.active .rating:not(:checked) > label:before {
  content: '\2605   ';
}

.carousel-item.active .rating > input:checked ~ label {
  color: dodgerblue;
}

.carousel-item.active .rating:not(:checked) > label:hover,
.carousel-item.active .rating:not(:checked) > label:hover ~ label {
  color: dodgerblue;
}

.carousel-item.active .rating > input:checked + label:hover,
.carousel-item.active .rating > input:checked + label:hover ~ label,
.carousel-item.active .rating > input:checked ~ label:hover,
.carousel-item.active .rating > input:checked ~ label:hover ~ label,
.carousel-item.active .rating > label:hover ~ input:checked ~ label {
  color: dodgerblue;
}

.carousel-item.active .rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

